*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

/* HEADER */
.header {
    width: 100%;
}

.navbar {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}
.navbar i {
    font-size: 25px;
    margin-left: 18px;
}

/* Section-1 */
.first_section {
    background: url('../practices2/background.jpg') center / cover;
    width: 100%;
    height: 80vh;
}

